.booth{
    width: 40rem;
    background-color: white;
    border: .1rem solid lightblue;
    margin: 0 auto;
}

.booth-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    text-decoration: none;
}

#canvas{
    display: none;
}